[submodule "src/app/auth"]
	path = src/app/auth
	url = https://github.com/Blowedminds/Angular-Module-Auth
[submodule "src/app/core"]
	path = src/app/core
	url = https://github.com/Blowedminds/Angular-Module-Core
