<div class="register auth one-page">
  <div class="cs-container">
    <form (ngSubmit)="login(f)" #f="ngForm" class="login-form form one-page-form">

      <h2>Giriş</h2>

      <mat-card class="form-error" *ngIf="error">
        <p>{{errorText}}</p>
      </mat-card>

      <mat-input-container class="form-group">
        <input matInput type="email" placeholder="E-posta" ngModel name="email" required email autofocus>
      </mat-input-container>

      <mat-input-container class="form-group">
        <input matInput type="password"placeholder="Şifre" ngModel name="password" required>
      </mat-input-container>

      <button mat-button type="submit" [disabled]="!f.valid">Giriş Yap</button>

    </form>
  </div>
</div>
