<div class="chat" *ngIf="article">

  <div class="columns">

    <div class="column is-one-third room-panel panel">
      <div class="room-inline inline">

        <div class="room-panel-top">
          <div class="user-panel">
            <div class="">

            </div>
          </div>

          <div class="room-search">
            <form (ngSubmit)="sendMessage(f)" #f="ngForm">

              <input type="text" id="send-text" name="message" ngModel autocomplete="off" placeholder="Makale Arayın" required>

              <button mat-mini-fab type="submit" [disabled]="!f.valid"><i class="far fa-paper-plane"></i></button>

            </form>
          </div>
        </div>

        <div class="room-list-panel">
          <app-rooms-list [rooms]="rooms.data" [slug]="slug"></app-rooms-list>
        </div>
      </div>
    </div>

    <div class="column chat-panel panel">

      <div class="chat-overlay"></div>

      <div class="chat-inline inline">
        <div class="chat-header">

          <div class="columns">
            <div class="column">
              <div class="chat-title">
                {{article.content.title}}
              </div>
            </div>
            <div class="column is-one-third">
              <div class="chat-control">

              </div>
            </div>
          </div>
        </div>

        <div class="chat-message">
          <app-messages [messages]="messages" [user]="user" *ngIf="messages"></app-messages>
        </div>

        <div class="chat-send">

          <div class="send-box" *ngIf="user">
              <app-chat [slug]="slug"></app-chat>
          </div>

          <div *ngIf="!user">
            <a [routerLink]="['/auth/login']">Mesaj göndermek için giriş yapın</a>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
