<div class="chat" *ngIf="messages">

  <div class="columns">

    <div class="column is-one-third">
      <app-rooms-list [rooms]="rooms.data"></app-rooms-list>
    </div>

    <div class="column chat-panel">

      <div class="chat-overlay"></div>

      <div class="chat-inline">
        <div class="chat-header">

          <div class="columns">
            <div class="column">
              <div class="chat-title">
                {{article.contents[0].title}}
              </div>
            </div>
            <div class="column is-one-third">
              <div class="chat-control">

              </div>
            </div>
          </div>
        </div>

        <div class="chat-message">
          <app-messages [messages]="messages" [user]="user"></app-messages>
        </div>

        <div class="chat-send">

          <div class="send-box" *ngIf="user">
              <app-chat [slug]="slug"></app-chat>
          </div>

          <div *ngIf="!user">
            <a [routerLink]="['/auth/login']">Mesaj göndermek için giriş yapın</a>
          </div>

        </div>
      </div>

    </div>
  </div>





</div>
