.chat
  height: 100%
  width: 100%

  .columns
    margin: 0
    padding: 0
    height: 100%

    .chat-header
      position: absolute
      top: 0
      left: 0
      background: #efefef
      width: 100%
      border-radius: 0 2px 2px 0
      height: 60px

      .chat-title
        width: 100%
        height: 100%
        display: flex
        align-items: center

    .chat-panel
      background-image: url('/assets/images/pp.png')
      background-repeat: repeat repeat
      position: relative
      padding: 0
      height: 100%
      background-color: beige

      .chat-overlay
        background-color: rgba(245, 245, 220, 0.9)
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1

      .chat-inline
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 2

      .chat-message
        padding: 60px 50px 72px 50px
        overflow: auto
        height  : 100%

      .chat-send
        position: absolute
        background: #efefef
        width: 100%
        bottom: 0
        right: 0
        border-radius: 2px 0 0 2px
        height: 70px
