<div class="message-main" *ngIf="messages">

  <div class="message-body">
    <div class="message" *ngFor="let user_message of messages">
      <div class="message-in" [ngClass]="{'message-left': user.user_id !== user_message[0].user_id, 'message-right': user.user_id === user_message[0].user_id}">
        <div class="message-inline">


          <div class="message-user" *ngFor="let message of user_message; let i = index" [attr.key]="i">

            <div class="user-id">
              <span class="" *ngIf="i == 0">{{user_message[i].user.name}}</span>
            </div>

            <span class="message-text">{{message.message}}</span>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
